body{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ff00ff, #00ffff);
}

#calculator{
    width: 480px;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 25px;
}

#display{
    width: 100%;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    letter-spacing: 2px;

    margin: 0;
    box-sizing: border-box;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 20px;
    justify-content: center;
    padding: 25px;
}

button{
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.859);
    color: black;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

button:hover{
    background-color: rgb(255, 255, 255);
}

button:active{
    background-color: rgb(240, 240, 240);
}


button.operator-btn{
    background-color: #ED18A5;
}

button.operator-btn:hover {
    background-color: #ff2cb9
}

button.operator-btn:active {
    background-color: #ff51c5
}