/* GENERAL CONFIGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}

body {
    background-color: rgb(197, 27, 27);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    color: white;
}

#gameContainer {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: 50px;
}

#statusText {
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

#restart-btn {
    padding: 20px 40px;
    border-radius: 30px;
    border: none;
    font-size: 30px;
    background-color: black;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    transition: .2s;
}

#restart-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 4px rgb(38, 37, 37);
}